{% extends "base.html" %}
{% block content %}

<h2>Add Marks</h2>
<form method="post">

Student:
<select name="student_id">
{% for s in students %}
<option value="{{ s.id }}">{{ s.name }}</option>
{% endfor %}
</select><br><br>

Subject:
<select name="subject_id">
{% for sub in subjects %}
<option value="{{ sub.id }}">{{ sub.subject_name }}</option>
{% endfor %}
</select><br><br>

Marks:
<input type="number" name="marks"><br><br>

<button type="submit">Add Marks</button>

</form>

{% endblock %}
